body{
    margin:0px;
    font-family: 'Fjalla One', sans-serif;
    background-image:linear-gradient(#ce6d55, #4dc5bf, #ffe458);
}

img{
    max-width:100%;
}

div{
    border-radius:10px;
}

img{
    border-radius:10px;
}

h2{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    text-shadow: 0 5px #ff0f4f;
    color: #3ccecb;
    margin:15px;
}
